<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap" rel="stylesheet">
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}
:root{
    --primary-color:#A82C48;
}
body{
	 font-family: 'Poppins', sans-serif;
}
 
.container{
	 display: flex;
	 justify-content: center;
	flex-direction: column;
	width:300px;
	height: 400px;
	margin: auto;
}
.row{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
#zer{
   grid-column:+1/3;

}
.button{
	padding: 1rem;
	  border: 1px solid gray;
	  cursor: pointer;
}
#scol{
	background-color:#ffa522 ;
}

input[type="text"]{
	height: 2rem;
	font-size: 1.6rem;
}

/* ========MEDIA QUERY SMALL DEVICE======== */
@media screen and (max-width:600px) {
	.container{
		margin:auto;
	}
    .row{
     grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}